---
import { Image } from "astro:assets";
import profilePic from "../../assets/profile_picture.png";
import { Icon } from "astro-icon/components";
import { twMerge } from "tailwind-merge";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const socialLinks = [
  {
    title: "Github",
    icon: "fa6-brands:github",
    href: "https://github.com/khaldoun36",
  },
  {
    title: "Linkedin",
    icon: "fa6-brands:linkedin-in",
    href: "https://www.linkedin.com/in/khaldoon-alnuaimi-8618b7350/",
  },
  {
    title: "Bluesky",
    icon: "fa6-brands:bluesky",
    href: "https://bsky.app/profile/khaldoon.bsky.social",
  },
  {
    title: "Threads",
    icon: "fa6-brands:threads",
    href: "https://bsky.app/profile/khaldoon.bsky.social",
  },
];
---

<main class={twMerge("flex max-w-[85ch] flex-col gap-8 sm:gap-10", className)}>
  <Image
    class="ds-border size-16 rounded-full"
    src={profilePic}
    alt="A man with short dark hair and a beard, wearing a white traditional Middle Eastern garment with a mandarin collar, smiling in a headshot with a framed artwork and a light-colored curtain in the background."
  />
  <div>
    <h1 class="mb-6 text-3xl font-bold sm:mb-8 sm:text-5xl lg:text-6xl">
      Building products. Testing ideas. Chasing PRs.
    </h1>
    <p class="text-md max-w-prose sm:text-lg">
      I’m Khaldoon, a software developer, entrepreneur, and amateur athlete.
      Currently building Bites, a social accountability platform for people
      trying to lose weight.
    </p>
  </div>
  <div class="group -mt-2.5 flex flex-row gap-5">
    {
      socialLinks.map((link) => (
        <a
          href={link.href}
          class="text-deep-brown/75 hover:text-deep-brown! group-has-[:hover]:text-deep-brown/45 grid size-11 place-content-center transition-colors ease-in-out first:-ml-2.5"
          aria-label={`${link.title} profile`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name={link.icon} size={24} />
        </a>
      ))
    }
  </div>
</main>
