@use "sass:string";

$tablet-bp: 40rem;
$desktop-bp: 80rem;

// ==========================================
// 3. Functions
// ==========================================
@function color-alpha($token, $opacity) {
  @return string.unquote("oklch(from var(#{$token}) l c h / #{$opacity})");
}

/* ********* */
/* Typescale */
/* ********* */
@mixin text-8xl {
  font-size: 4.5rem; /* 72px */
  line-height: 5.625rem; /* 90px */
  letter-spacing: -0.02em;
}

@mixin text-7xl {
  font-size: 3.75rem; /* 60px */
  line-height: 4.5rem; /* 72px */
  letter-spacing: -0.02em;
}

@mixin text-6xl {
  font-size: 3rem; /* 48px */
  line-height: 3.75rem; /* 60px */
  letter-spacing: -0.02em;
}

@mixin text-5xl {
  font-size: 2.75rem; /* 44px */
  line-height: 3.375rem; /* 54px */
  letter-spacing: -0.02em;
}

@mixin text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.75rem; /* 44px */
  letter-spacing: -0.02em;
}

@mixin text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.375rem; /* 38px */
  letter-spacing: normal;
}

@mixin text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  letter-spacing: normal;
}

/* Text sizes */
@mixin text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.875rem; /* 30px */
  letter-spacing: normal;
}

@mixin text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: normal;
}

@mixin text-md {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: normal;
}

@mixin text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: normal;
}

@mixin text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1.125rem; /* 18px */
  letter-spacing: normal;
}

@mixin ds-border {
  box-shadow:
    0 0 0 1.25px color-alpha(--deep-brown, 0.1),
    var(--shadow-md);
}
