// ==========================================
// 1. Setup & Configuration
// ==========================================
@use "reset.scss";
@use "utilities";

@layer reset, typography, base;

// ==========================================
// 2. Design Tokens (Variables)
// ==========================================

:root {
  /* Colors */
  --sand: oklch(84.64% 0.022 72.77);
  --almond: oklch(91.04% 0.016 75.89);
  --ivory: oklch(97.78% 0.005 92.87);
  --deep-brown: oklch(24.16% 0.054 75.64);
  --lemon: oklch(96.82% 0.209 109.78);
  --bronze: oklch(63.15% 0.128 78.04);

  /* Shadows */
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-sm:
    0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  --shadow-md:
    0px 2px 4px -2px rgba(16, 24, 40, 0.06),
    0px 4px 8px -2px rgba(16, 24, 40, 0.1);
  --shadow-lg:
    0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  --shadow-xl:
    0px 8px 8px -4px rgba(16, 24, 40, 0.03),
    0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  --shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);

  // Helpers
  --infinity: calc(infinity * 1px);
}

// ==========================================
// 4. Typography
// ==========================================
@layer typography {
  body,
  button,
  input,
  textarea,
  select {
    font-family: var(--font-mona), sans-serif;
    color: color-alpha(--deep-brown, 0.75);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--deep-brown);
  }

  em {
    font-style: italic;
  }
}

// ==========================================
// 5. Base Styles
// ==========================================

@layer base {
  html,
  body {
    background: var(--almond);
  }
}
