---

---

<article
  class="grid border-b-[1.25px] md:grid-cols-[1fr_2fr] md:divide-x-[1.25px]"
>
  <aside class="row-start-2 space-y-4 py-10 pr-8 md:row-start-1">
    <p class="sm:text-md text-sm">
      By <strong>Mat Marquis</strong>
    </p>
    <time datetime="2026-04-23" class="sm:text-md text-sm">23 April 2026</time>
  </aside>

  <div class="-mx-10 space-y-6 p-10">
    <h1 class="text-lg font-semibold sm:text-2xl lg:text-3xl">
      The end of responsive images
    </h1>

    <p class="sm:text-md text-sm">
      Mat Marquis has waited 14 years to write this article. The sizes attribute
      has been a necessary evil but now, with an auto value capability, it’s
      completely transformed authoring responsive images on the web.
    </p>

    <a
      href="#"
      class="bg-almond text-deep-brown sm:text-md border px-3 py-1.5 text-sm"
      >HTML</a
    >
  </div>
</article>
