---
import { Font } from "astro:assets";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <Font cssVariable="--font-mona" />
  </head>
  <body>
    <div class="content-grid">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  /* Reference your main tailwind entry point */
  @import "../styles/global.css" reference;

  .content-grid {
    --grid-cols: 0rem minmax(0, 1fr) 0rem;
    --content-padding: 1rem;

    position: relative;
    isolation: isolate;

    display: grid;
    grid-template-columns: var(--grid-cols);

    min-height: 100dvh;
    align-content: start;

    background: var(--color-almond);
  }

  /* Sheet layer */
  .content-grid::before {
    content: "";
    position: absolute;
    z-index: 0;
    pointer-events: none;

    grid-column: 2 / 2;
    inset: 0;

    background: var(--color-ivory);

    @apply ds-border;
  }

  .content-grid > * {
    grid-column: 2 / 2;
    min-width: 0;

    position: relative;
    z-index: 1;

    padding-inline: var(--content-padding);
  }

  .content-grid > .full-width {
    grid-column: 1 / -1;
  }

  @media (width >= 40rem) {
    .content-grid {
      --grid-cols: 2rem minmax(0, 1fr) 2rem;
    }
  }

  @media (width >= 80rem) {
    .content-grid {
      --grid-cols: minmax(0, 1fr) minmax(0, 1216px) minmax(0, 1fr);
      --content-padding: 3rem;
    }
  }
</style>
